    <p>Hello there lil doodler <%= name %>!</p>
    <div>
      <img width="400px" src="https://i.pinimg.com/736x/eb/86/75/eb86752f892a8991ac9b1adb4c0ca290--cutest-kittens-ever-cute-kittens.jpg" />
    </div>
    <div>:\)</div>
    <p>hey hey hey</p>
